
*.pyc
*.pyo
__pycache__/
*.pyd
.Python

env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/

*.swp
*.swo

.ipynb_checkpoints

*.log

*.bak
*.tmp

*.egg
*.egg-info
dist/
build/
*.tar.gz

pip-log.txt
pip-delet